* {
    font-size: x-large;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: rgb(20, 20, 20);
}

#rotas {
    display: flex;
    width: 350px;
    justify-content: space-around;
}

img {
    width: 64px;
    height: 64px;
}